[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/Puppet-Syntax-Highlighting"]
	path = bundle/Puppet-Syntax-Highlighting
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-rspec-switcher"]
	path = bundle/vim-rspec-switcher
	url = git@github.com:sheldonh/vim-rspec-switcher.git
[submodule "bundle/vim-cucumber-runner"]
	path = bundle/vim-cucumber-runner
	url = git@github.com:sheldonh/vim-cucumber-runner.git
