[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/Puppet-Syntax-Highlighting"]
	path = bundle/Puppet-Syntax-Highlighting
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-cucumber-runner"]
	path = bundle/vim-cucumber-runner
	url = git://github.com/sheldonh/vim-cucumber-runner.git
[submodule "bundle/vim-rspec-switcher"]
	path = bundle/vim-rspec-switcher
	url = git://github.com/sheldonh/vim-rspec-switcher.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = git://github.com/sheldonh/vim-ruby-refactoring.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = git://github.com/sheldonh/file-line.git
[submodule "bundle/ShowTrailingWhitespace"]
	path = bundle/ShowTrailingWhitespace
	url = https://github.com/vim-scripts/ShowTrailingWhitespace
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath
